<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fay数字人</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/setting.css') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- 引入样式 -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/element/index.css') }}">
  </head>

  <body>
    <div class="main_bg" id="app">	
      <div class="main_left">	
        <div class="main_left_logo" ><img src="{{ url_for('static',filename='images/Logo.png') }}" alt=""> 
        </div>

      <div class="main_left_menu">
        <ul>
          <li class="changeImg"><a href="/"><span class="iconimg1">消息</span></a></li>
          <li class="changeImg2"><a href="/setting"><span class="iconimg2">人设</span></a></li>
          <li class="changeImg3"><a href="/Page3"><span class="iconimg3">第三页</span></a></li>
        </ul>
      </div>
      
      <div class="main_left_emoji"><img  src="{{ url_for('static',filename='images/emoji.png') }}" alt="" >
      </div>
      </div>

      <div class="main_right">
        <div class="setting_fay_top"><span style="color: #000; font-size: 20px; padding-right: 10px;">第三页</span><span v-if="isConnected" style="color: #f56c6c;">已连接数字人</span><span style="margin-left: 10px;color:#f56c6c;" v-if="remoteAudioConnected">已连接远程音频</span> </div>
        <!-- 以上是即时信息显示 -->
  
        <div class="setting_fay">   
          <div class="Page3" style="padding: 30px;;">
            <ul>
              <li>1、文字交互接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/PNKFwVgUKig6fDkMH03cMPiInIb" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/PNKFwVgUKig6fDkMH03cMPiInIb</a></li>
              <li>2、语音交互接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/UmR7wylfliwtkUkHbfFcqVN6nve" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/UmR7wylfliwtkUkHbfFcqVN6nve</a></li>        
              <li>3、数字人驱动接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/UwXEwxJMOiRhX1kWc7tcjPdrngc" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/UwXEwxJMOiRhX1kWc7tcjPdrngc</a></li>        
              <li>4、意图接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/ZmIAwppguiL2GJk4WX6cYhxgnPh" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/ZmIAwppguiL2GJk4WX6cYhxgnPh</a></li>        
              <li>5、播报接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/UuMOwDShOimrSckrgkxcBEhhnXg" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/UuMOwDShOimrSckrgkxcBEhhnXg</a></li>        
              <li>6、控制接口：<a href="https://qqk9ntwbcit.feishu.cn/wiki/BJO4wJ7Nmi4AiQkej69ct3knngd" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/BJO4wJ7Nmi4AiQkej69ct3knngd</a></li>        
              <li>7、agent：<a href="https://qqk9ntwbcit.feishu.cn/wiki/WLg5wde5di5ACqkUu6IcD4w7n0e" target="_blank">https://qqk9ntwbcit.feishu.cn/wiki/WLg5wde5di5ACqkUu6IcD4w7n0e</a></li>        
            </ul>        
          </div>       
         </div>
      </div>
    </div>

    </body>
    <!-- import Vue before Element -->
    <script src="{{ url_for('static',filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static',filename='js/element.js') }}"></script> <!-- 这里需要确保先引入 Element -->
    <script src="{{ url_for('static',filename='js/setting.js') }}"></script>
 
</html>